<section>
    <div>
    <h2 class="text-center m-4"> Manage Sellers</h2>
</div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                
                <table class="table mt-5 col-md-12" style=" background-color: #fff; box-shadow: 3px 1px 7px 1px #888888;">
                    <thead style="background-color: #4e73df; color: white;">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Address</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {{#each sellers}}
                    <tbody>
                        <tr>
                            <th scope="row">{{this._id}}</th>
                            <td class="text-uppercase ">{{this.fullname}}</td>
                            <td class="text-uppercase ">{{this.email}}</td>
                            <td class="text-uppercase ">{{this.phonenumber}}</td>
                            <td class="text-uppercase ">{{this.address}}</td>
                            <td style="color: white;"> <a style="font-size: 14px;" class="btn btn-info">Edit</a>
                                <a class="btn btn-danger" style="font-size: 14px;">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</section>

<style>
    tr:hover{
        box-shadow: 1px 0px 22px -1px #888888;
        
    }
</style>