

<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Dream Haulge</title>
<!--Bootstrap -->
<link rel="stylesheet" href="New folder/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="New folder/css/style.css" type="text/css">
<link rel="stylesheet" href="New folder/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="New folder/css/owl.transitions.css" type="text/css">
<link href="New folder/css/slick.css" rel="stylesheet">
<link href="New folder/css/bootstrap-slider.min.css" rel="stylesheet">
<link href="New folder/css/font-awesome.min.css" rel="stylesheet">
		
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="New folder/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="New folder/images/favicon-icon/apple-touch-icon-114-precomposed.html">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="New folder/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="New folder/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="New folder/images/favicon-icon/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet"> 
</head>
<body>


<!-- Resent Cat-->
<section class="section-padding white-bg">
  <div class="container">
    <div class="section-header text-center">
      <h2>Latest Collection<span>ForYou</span></h2>
     <!--  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p> -->
    </div>
    <div class="row"> 
      
      <!-- Nav tabs -->
  <!--     <div class="recent-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#resentnewcar" role="tab" data-toggle="tab">New Car</a></li>
        </ul>
      </div> -->
      <!-- Recently Listed New Cars -->
      <div class="tab-content" style="width: 10000px;">
        <div role="tabpanel" class="tab-pane active" id="resentnewcar">


{{#each vehicles}}
<div class="col-list-3">
<div class="recent-car-list" style="height: 345px;">
<div class="car-info-box"> <a href=""><img src="/vehicle-images/{{this._id}}{{this.img1}}"  style="    height: 209px;" class="img-responsive" alt="image"></a>
<ul>
<li><i class="fa fa-car" aria-hidden="true"></i>{{this.fueltype}}</li>
<li><i class="fa fa-calendar" aria-hidden="true"></i>{{this.modelyear}} </li>
<li><i class="fa fa-user" aria-hidden="true"></i> {{this.seatingcapacity}}</li>
</ul>
</div>
<div class="car-title-m">
<h6><a href="/vehicle-details">{{this.brandname}},{{this.vehiclename}}</a></h6>
<span class="price">₹{{this.priceperday}} /Day</span> 
</div>
<div class="inventory_info_m">
<p>{{this.vehicleoverview}}</p>
</div>
</div>
</div>
{{/each}}
      </div>
    </div>
  </div>
</section>
<!-- /Resent Cat --> 
