<section>
    <div>
    <h2 class="text-center m-4"> Manage vehicle</h2>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pb-5 my-auto text-center mt-3">
                    <a class="btn btn-success" href="/seller/add-vehicle" style="color: white;">Create vehicle</a>
                    <a class="ml-5 btn btn-danger" href="/seller/manage-vehicle" style="color: white;">Manage vehicles</a>
                </div>
                 {{#if responsemessage}}
                    <div class="alert alert-succes"
                        style="color:{{responsemessage.color}};background-color:{{responsemessage.backgroundcolor}}">
                        <strong>{{responsemessage.type}}</strong> {{responsemessage.message}}
                    </div>
                    {{/if}}
                <table class="table" style=" background-color: #fff; box-shadow: 3px 1px 7px 1px #888888;">
                    <thead style="background-color: #4e73df; color: white;">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Vehicle Name</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Price per day</th>
                            <th scope="col">Posted date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {{#each vehicles}}
                    <tbody>
                        <tr>
                            <th scope="row">{{this._id}}</th>
                            <td class="text-uppercase ">{{this.vehiclename}}</td>
                            <td class="text-uppercase ">{{this.brandname}}</td>
                            <td class="text-uppercase ">{{this.date}}</td>
                            <td class="text-uppercase ">{{this.priceperday}}</td>
                            <td style="color: white; width: 144px;">
                                <a href="/seller/edit-vehicle/{{this._id}}" style="font-size: 14px;" class="btn btn-info">Edit</a>
                                <a class="btn btn-danger" style="font-size: 14px;" onclick="deleteVehicle()">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</section>

<style>
    tr:hover{
        box-shadow: 1px 0px 22px -1px #888888;
        
    }
</style>
<script>
    function deleteVehicle(){
            $.ajax({
                url:'/isuserexist/'+user,
                method:'get',
                success:(response)=>{
                    
                   
                    
                }
            })
        }
</script>