<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Dream haulage</title>
    <!--Bootstrap -->
    <link rel="stylesheet" href="New folder/css/bootstrap.min.css" type="text/css">
    <!--Custome Style -->
    <link rel="stylesheet" href="New folder/css/style.css" type="text/css">
    <!--OWL Carousel slider-->
    <link rel="stylesheet" href="New folder/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="New folder/css/owl.transitions.css" type="text/css">
    <!--slick-slider -->
    <link href="New folder/css/slick.css" rel="stylesheet">
    <!--bootstrap-slider -->
    <link href="New folder/css/bootstrap-slider.min.css" rel="stylesheet">
    <!--FontAwesome Font Style -->
    <link href="New folder/css/font-awesome.min.css" rel="stylesheet">

    <!-- SWITCHER -->
    <link rel="stylesheet" id="switcher-css" type="text/css" href="assets/switcher/css/switcher.css" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/red.css" title="red" media="all"
        data-default-color="true" />
    <link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/orange.css" title="orange" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/blue.css" title="blue" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/pink.css" title="pink" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/green.css" title="green" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/purple.css" title="purple" media="all" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="New folder/images/favicon-icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="New folder/images/favicon-icon/apple-touch-icon-114-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="New folder/images/favicon-icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="New folder/images/favicon-icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="New folder/images/favicon-icon/favicon.png">
    <!-- Google-Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <script type="text/javascript">
// function valid()
// {
// if(document.chngpwd.newpassword.value!= document.chngpwd.confirmpassword.value)
// {
// alert("New Password and Confirm Password Field do not match  !!");
// document.chngpwd.confirmpassword.focus();
// return false;
// }
// return true;
// }
    </script>
    <style>
        .errorWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #dd3d36;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
        }

        .succWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #5cb85c;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
        }
    </style>
</head>

<body>



    <!--Header-->
    {{>user-header}}
    <!-- /Header -->
    <!--Page Header-->
    <section class="page-header profile_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Update Password</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Update Password</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->


    <section class="user_profile inner_pages">
        <div class="container">
            <div class="user_profile_info gray-bg padding_4x4_40">
                <div class="upload_user_logo"> <img src="New folder/images/dealer-logo.jpg" alt="image">
                </div>

                <div class="dealer_info">
                    <h5>{{user.name}}</h5>
                    <p>{{user.address}}<br>
                        {{user.email}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    {{>sidebar}}
                    <div class="col-md-6 col-sm-8">
                        <div class="profile_wrap">
                            <form action="/update-password" method="post">
                                <div class="gray-bg field-title">
                                    <h6>Update password</h6>
                                </div>
                                {{#if responsemessage}}
                                <div class="alert alert-succes"
                                    style="color:{{responsemessage.color}};background-color:{{responsemessage.backgroundcolor}}">
                                    <strong>{{responsemessage.type}}</strong> {{responsemessage.message}}
                                </div>
                                {{/if}}
                                <span style="color: red;" id="message"></span>
                                <div class="form-group">
                                    <label class="control-label">New Password</label>
                                    <input class="form-control white_bg" id="newpassword" type="password"
                                        name="newpassword" required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input class="form-control white_bg" onblur="passwordcheck()" id="confirmpassword"
                                        type="password" required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Current Password</label>
                                    <input class="form-control white_bg" id="password" name="password" type="password"
                                        required>
                                </div>`

                                <div class="form-group">
                                    <input type="submit" value="Update" id="submit" class="btn btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--/Profile-setting-->

    <!--Footer -->
    {{>user-footer}}
    <!-- /Footer-->

    <!--Back to top-->
    <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
    <!--/Back to top-->

    <!--Login-Form -->
    <?php include('includes/login.php');?>
    <!--/Login-Form -->

    <!--Register-Form -->
    <?php include('includes/registration.php');?>

    <!--/Register-Form -->

    <!--Forgot-password-Form -->
    <?php include('includes/forgotpassword.php');?>
    <!--/Forgot-password-Form -->

    <!-- Scripts -->
    <script src="New folder/js/jquery.min.js"></script>
    <script src="New folder/js/bootstrap.min.js"></script>
    <script src="New folder/js/interface.js"></script>
    <!--Switcher-->
    <script src="New folder/switcher/js/switcher.js"></script>
    <!--bootstrap-slider-JS-->
    <script src="New folder/js/bootstrap-slider.min.js"></script>
    <!--Slider-JS-->
    <script src="New folder/js/slick.min.js"></script>
    <script src="New folder/js/owl.carousel.min.js"></script>

</body>

</html>
<script>
    function passwordcheck() {
        let password1 = document.getElementById('newpassword').value
        let password2 = document.getElementById('confirmpassword').value
        if (password1 === password2) {
            console.log('password matching')
            document.getElementById('message').innerHTML = ''
        } else {
            document.getElementById('submit').disabled = false
            document.getElementById('message').innerHTML = 'Password not matching'
        }

    }

</script>